<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
     version="3.1">
  
  <!-- 加载Spring容器配置，配置监听器 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 设置Spring容器加载配置文件路径 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  
  <!-- filter -->
  <!-- <filter>
  	<filter-name>sessionValidate</filter-name>
  	<filter-class>com.hiring.framework.filter.SessionValidateFilter</filter-class>
  	<init-param>
  		<param-name>include_uri</param-name>
  		<param-value>/passport/,/styles/</param-value>
  	</init-param>
  	<init-param>
  		<param-name>loginUrl</param-name>
  		<param-value>/passport/index</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>sessionValidate</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping> -->
  
  <filter>
    <filter-name>SpringOpenSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SpringOpenSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>passport/index</welcome-file>
  </welcome-file-list>
</web-app>
